 @import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);

        .wrap {
            margin: 100px auto 100px auto;
            border: 1px solid #ddd;
            border-radius: 10px;
            width: 1000px;
            height: 1130px;
            font-family: 'Jeju Gothic', sans-serif;
        }

        .img_goods {
            margin: 50px auto auto auto;
            width: 800px;
            height: 460px;
            background-image: url("../images/diary.jpg");
            background-size: cover;
        }

        .goods {
            margin-bottom: 5px;
            padding-left: 50px;
            padding-bottom: 15px;
        }

        .title_goods {
            padding-top: 50px;
        }

        .title_de {
            padding-top: 7px;
        }

        .per_goods {
            padding-left: 20px;
        }

        .description_goods {
            width: 900px;
            padding-top: 30px;
        }

        .order {
            padding-top: 25px;
        }

        .order_form {
            width: 400px;
        }

        .input-right {
            float: right;
            width: 300px;
            height: 37px;
        }

        .btn-order {
            display: block;
            padding-top: 50px;
            text-align: center;
        }
